/* general style*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --background-color:#fff;
    --boxborder-color:#006aae;
    --padding-color:#c7cdd1;
    --text-color:#006db3;
}
body {
    background-color: var(background-color);
    display: table-column;
}
